# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Fichiers PyInstaller
*.spec
build/
dist/

# Fichiers de données générés
data/
*.txt
!requirements.txt
!version_info.txt
*.json

# Fichiers d'environnement virtuel
venv/
env/
ENV/

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Fichiers de build
*.exe
*.msi
*.nsi
*.bat

# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Fichiers spécifiques au projet
APMLive.exe

# Polices
Roboto/ 

IMPROVEMENT_PLAN.md