name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: windows-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install python-semantic-release pyinstaller

      - name: Python Semantic Release
        id: release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          semantic-release version
          semantic-release publish
          echo "tag=$(semantic-release version --print-tag)" >> $GITHUB_OUTPUT

      - name: Build Executable
        run: |
          pyinstaller apmlive.spec

      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v1
        with:
          files: dist/APMLive.exe
          tag_name: ${{ steps.release.outputs.tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
