name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: windows-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Python Semantic Release
        id: semantic_release
        uses: python-semantic-release/python-semantic-release@v8.3.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build Executable
        if: steps.semantic_release.outputs.released == 'true'
        run: |
          pyinstaller apmlive.spec

      - name: Upload Release Artifacts
        if: steps.semantic_release.outputs.released == 'true'
        uses: softprops/action-gh-release@v1
        with:
          files: dist/APMLive.exe
          tag_name: ${{ steps.semantic_release.outputs.tag }}
